RewriteEngine on

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^kontakte$ RequestHandler.php?command=GetKontakteCommand

RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^kontakte$ RequestHandler.php?command=CreateKontaktCommand

RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^kontakte/(.+)$ RequestHandler.php?command=DeleteKontaktCommand&id=$1

RewriteCond %{REQUEST_METHOD} PUT
RewriteRule ^kontakte/(.+)$ RequestHandler.php?command=UpdateKontaktCommand&id=$1

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^kontakte/(.+)$ RequestHandler.php?command=GetKontaktCommand&id=$1

#RewriteRule ^kontakte$ RequestHandler.php

# Testen über Fiddler:->
# GET 		http://localhost/githubkoma/Service/kontakte/35
# DELETE 	http://localhost/githubkoma/Service/kontakte/4 
# POST		http://localhost/githubkoma/Service/kontakte/4 
# PUT 		http://localhost/githubkoma/Service/kontakte/43
# anstatt
# http://localhost/githubkoma/Service/kontakte?command=GetKontaktCommand&id=4


# PHP übernimmt den Body-Inhalt nur für GET und POST in $_REQUEST

# AuthType Basic
# AuthName "Todo-Liste"
# AuthUserFile "C:\xampp\htdocs\githubkoma\Service\.htusers"
# Require valid-user